    @keyframes spinner {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
  
  .spinner-container {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    animation: spinner 1.3s linear infinite;
    aspect-ratio: 1/1;
}
  